<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h3>Ciphertext：{{c_text}}</br>
    <h3>Encrypted Key：{{e_k}}
    </br>
    <button id="dtk">Decrypt the key!</button>
    <p id="dkp">{{dk_process}}</p>
    <button id="dtc">Decrypt the ciphertext!</button>
    <p id="dcp">{{dc_process}}</p>
    <script defer="true">
    $('button#dtk').click(evt => {
      $.ajax({
        method: "POST",
        url: "/api/decryptK",
        data: {
          value : "{{e_k}}"
        }
      }).done(msg => {
        msg.forEach(ele=>{
            $('#dkp').append(`<h3>'${ele.ans}'</h3>`)
          })
      })
    })
    $('button#dtc').click(evt => {
      $.ajax({
        method: "POST",
        url: "/api/decryptC",
        data: {
          value : "{{c_text}}"
        }
      }).done(msg => {
        msg.forEach(ele=>{
            $('#dcp').append(`<h3>'${ele.ans}'</h3>`)
          })
      })
    })
      </script>
</body>
</html>